* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}

header {
  background: lightblue;
}

.headerPadding {
  padding: 2rem;
}

.mainPageMargin {
  margin: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.separate {
  display: flex;
  justify-content: space-between;
}

.titleImgContainer {
  width: 50%;
}

.searchBar {
  margin: auto 0px;
}

.productList {
  width: 80%;
}

.shoppingCart {
  width: 20%;
}

.cartList {
  overflow-y: auto;
  max-height: 36rem;
  min-height: 2rem;
  padding: 0px 1rem;
}

.productCard {
  box-shadow: grey 0px 0px 10px;
  margin: 1rem;
  padding: 1rem;
  width: 30%;
  background-color: whitesmoke;
}

.productImgSize {
  width: 100px;
  height: 100px;
}

.dialogBtn {
  color: blue;
  text-decoration: underline;
  background: whitesmoke;
  border: none;
}

.dialogBtn:hover {
  cursor: pointer;
}

.popup {
  margin: auto;
  height: 400px;
  width: 60%;
  padding: 2rem;
  background: whitesmoke;
  box-shadow: black 0px 0px 20px;
  border: none;
}

.popupImgSize {
  width: 40%;
  margin: 1rem;
}

.noResult {
  font-size: 30px;
  color: grey;
  padding: 14rem;
  margin: auto;
}

.cartItemCard {
  width: 100%;
  margin: 0.5rem 0px;
  padding: 1rem;
  height: 8rem;
  box-shadow: grey 0px 0px 10px;
  background-color: whitesmoke;
}

.cartImgSize {
  height: 4rem;
}

.totalPrice {
  margin-top: 1rem;
  font-size: 20px;
}
